#login-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#login-card {
    height: fit-content;
    max-width: 80%;
}

#footer {
    position: absolute;
    bottom: 0;
}

.error {
    color: red;
}

pre {
    color: red;
    background-color: #ffacac;
    padding: 5px;
    border-radius: 5px;
}